<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>LVT Quiz Page</title>
        <script src="./quizpage/app.js" defer></script>
    </head>
    <body>
        <button id="navigator_button" data-state="skip">Skip</button>
        <button id="check_answer">Check Answer</button>

        <input type="text" id="answer_box" placeholder="Enter your answer here:">

        <p id="question_text"></p>
        <p id="answers_and_status"></p>
        <p id="quiz_stats"></p>

        <button id="exit">Exit</button>
        <button id="test_same_vocab" disabled>Test Same Vocab</button>
        <button id="test_incorrect_vocab" disabled>Test Incorrect Vocab</button>
    </body>
</html>
