html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url("images/roman background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
  text-align: center;
} /*This is probably unnecessary - looks better with plain background like vice verba*/

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.buttons {
  margin-top: auto;
}

h1 {
  color: #8b0000;
  background-color: #d19b08;
  border: 4px solid #8b0000;
  border-radius: 8px;
  padding: 20px;
  display: block;
  text-align: center;
  width: fit-content;
} /* Unused */

.selected {
  background-color: #8b0000;
  color: #fff;
}

table {
  display: none;
  width: fit-content;
  margin: 0 auto;
  border: 1px solid #8d0000;
  border-collapse: collapse;
  background-color: #a42a2e;
  color: white;
}

td {
  border: 1px solid #8b0000;
  padding: 1px;
}

#currentword {
  text-align: center;
}

button {
  background-color: #a42a2e;
  border: 0px;
  color: white;
}

.casecheckboxes {
  accent-color: #8d0000;
}

label {
  color: #8d0000;
}

.casebuttons, .numberbuttons, .genderbuttons { 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
}

.cases, .numbers, .genders {
  flex: 1;
  text-align: center;
  margin: 0px 2px;
  padding: 12px 0;
  font-size: 1.1rem;
}
  
.checkans {
  font-weight: bold;
  width: calc(100% - 40px);
  padding: 24px 0;
  margin: 10px 20px 5px;
  font-size: 2.2rem;
}

.cng-headings {
  margin: 0;
  padding-left: 20px;
  text-align: left;
  color: #8b0000;
}

#quizword {
  min-height: 1.5em;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 5rem;
} 

#checkans.flash {
  background-color: #8b0000;
  color: white;
}

#displaystatus {
  min-height: 1em;
  font-size: 2.2rem;
  color: #8b0000;
  line-height: 1;
}

#quiz, #revealdeclensions {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 5px 20px;
  min-height: 1.5em;
  font-size: 2.2rem;
}